<form class="{{cssClass}} {{actor.type}} {{system.primarytyping}}backround gridcontainer" autocomplete="off">


<div>
   {{!-- Sheet Tab Navigation --}}
  <nav class="{{system.primarytyping}}back trainer navigationselection sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="darkinput" data-tab="combat">Combat</a> /
    <a class="darkinput" data-tab="contest">Contest</a> /
    <a class="darkinput" data-tab="description">Description</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">


    {{!-- Combat Tab --}}
    <div class="tab features" data-group="primary" data-tab="combat">
      <p class="darktrimmedfont skillfeaturetitle"> Held Item</p>
      {{> "systems/pokemonta3/templates/actor/parts/actor-held-item.hbs"}}

    </div>

    {{!-- Contest Tab --}}
    <div class="tab features" data-group="primary" data-tab="contest">
      <p class="darktrimmedfont skillfeaturetitle"> Held Item</p>
      {{> "systems/pokemonta3/templates/actor/parts/actor-held-item.hbs"}}

    </div>

    {{!-- Description Tab --}}
    <div class="tab features" data-group="primary" data-tab="description">

    </div>


  </section>
</div>

  <div class="sidebar width172"> {{!-- Side Bar--}}
    {{!-- Pokemon image --}}
    <img class="{{system.primarytyping}}back PCsheet" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="170"/>  

    {{!-- Pokemon Name --}}
    <input class="PCsheet lighttrimmedfont" name="name" type="text" value="{{actor.name}}" placeholder="Pokemon Name"/>

    {{!-- Pokemon HP --}}
    <div class="PCsheet HPrimmedfont">
      HP
      <input class="HPrimmedfont" name="system.health.value" type="text" value="{{system.health.value}}"/>
      /
      <input class="HPrimmedfont" name="system.health.max" type="text" value="{{system.health.max}}"/>
    </div>


    {{!-- Pokemon Stats --}}
    <div class="statbox {{system.primarytyping}}Clsfont">
      {{#each system.stats as |stat key|}}
      <div class="stats">
        <label class="statname rollable" id="rollable" for="system.stats.{{key}}.value"  data-roll="d20+@stats.{{key}}.mod" data-label="{{stat.label}}">{{stat.label}}</label>
        <input class="statinput" type="text" name="system.stats.{{key}}.value" value="{{stat.value}}" data-dtype="Number"/>
        <span class="stat-mod rollable" id="rollable" data-roll="d20+@stats.{{key}}.mod" data-label="{{stat.label}}">{{numberFormat stat.mod decimals=0 sign=true}}</span>
      </div>
      {{/each}}
    </div>
    {{!-- Typing Selections --}} 
    <h1 class="lighttrimmedfont PCsheet gridrow50">  
      <select class="{{system.primarytyping}}back" name="system.primarytyping">
        {{selectOptions optionObjtype selected=system.primarytyping localize=true}}
      </select>
      <select class="{{system.secondarytyping}}back" name="system.secondarytyping">
        {{selectOptions optionObjtype selected=system.secondarytyping localize=true}}
      </select>
    </h1>


        {{!-- Other Classes --}}
    <input class="PCsheet {{system.primarytyping}}back" name="system.species" type="text" value="{{system.species}}" placeholder="Species"/>
    <input class="PCsheet {{system.primarytyping}}back" name="system.sex" type="text" value="{{system.sex}}" placeholder="Gender"/>
    <select class="lighttrimmedfont PCsheet naturePoke" name="system.nature">
      {{selectOptions optionObjnature selected=system.nature localize=true}}
    </select>
    <div class="PCsheet {{system.primarytyping}}Clsfont lighttrimmedfont gridrow50">
    Loyalty
    <input class="origincredit PCsheet {{system.primarytyping}}Clsfont" id="darkinput" name="system.loyalty" type="text" value="{{system.loyalty}}" placeholder="0"/>         
    </div>  
  </div>





</form>

{{log system}}

