<form class="{{cssClass}} {{actor.type}}  " autocomplete="off">
  <div class="sidebar"> {{!-- Side Bar--}}

    <h1 class="{{system.primaryclass}}back PCsheet">  {{!-- Primary Class Selector --}}
      <select class="{{system.primaryclass}}back" name="system.primaryclass">
        {{selectOptions optionObj selected=system.primaryclass localize=true}}
      </select>
    </h1>

    {{!-- Trainer image --}}
    <img class="{{system.primaryclass}}back PCsheet" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="170"/>  

    {{!-- Trainer Name --}}
    <input class="PCsheet" id="darkinput" name="name" type="text" value="{{actor.name}}" placeholder="Trainer Name"/>

    {{!-- Trainer Stats --}}
    <div class="statbox" id="{{system.primaryclass}}font" >
      {{#each system.stats as |stat key|}}
      <div class="stats">
        <label class="statname rollable" id="rollable" for="system.stats.{{key}}.value"  data-roll="d20+@stats.{{key}}.mod" data-label="{{stat.label}}">{{stat.label}}</label>
        <input class="statinput" type="text" name="system.stats.{{key}}.value" value="{{stat.value}}" data-dtype="Number"/>
        <span class="stat-mod rollable" id="rollable" data-roll="d20+@stats.{{key}}.mod" data-label="{{stat.label}}">{{numberFormat stat.mod decimals=0 sign=true}}</span>
      </div>
      {{/each}}
    </div>

        {{!-- Other Classes --}}
    <input name="system.secondaryclass" type="text" value="{{system.secondaryclass}}" placeholder="Second Class"/>
    <input name="system.thirdclass" type="text" value="{{system.thirdclass}}" placeholder="Third Class"/>
    <input name="system.fourthclass" type="text" value="{{system.fourthclass}}" placeholder="fourth Class"/>    
        {{!-- Origin and Money --}}
    <input name="system.origin" type="text" value="{{system.origin}}" placeholder="Origin"/>         
    <input name="system.credits" type="text" value="{{system.credits}}" placeholder="$ Credits"/>      










  </div>




</form>

{{log system}}

