<form class="{{cssClass}} {{actor.type}}  {{system.primaryclass}}backround gridcontainer" autocomplete="off">
  <div>

  {{!-- Sheet Tab Navigation --}}
  <nav class="{{system.primaryclass}}back navigationselection sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="darkinput" data-tab="features">Features</a> /
    <a class="darkinput" data-tab="description">Description</a> /
    <a class="darkinput" data-tab="items">Items</a> /
    {{#if (eq system.primaryclass "pok")}}   {{!-- If playing pokemon this appears --}}
    <a class="darkinput" data-tab="trainermoves">Moves</a>
    {{else}}
    <a class="darkinput" data-tab="partnermon">Pokemon</a>
    {{/if}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      <section class="features grid grid-2col">

        
    {{!-- Trainer Skills --}}
    <div class="skillbox {{system.primaryclass}}Clsfont">
      <p class="darktrimmedfont skillfeaturetitle"> Skills</p>
      {{#each system.skills as |skill key|}}
      <div class="skill">
        <input class="statinput" type="text" name="system.skills.{{key}}.value" value="{{skill.value}}" data-dtype="Number"/>
        <div class="checkboxes">
          <input class="statinbox" type="checkbox" name="system.skills.{{key}}.skill1" value="{{skill.skill1}}" {{checked skill.skill1}} data-dtype="Boolean"/>
          <input class="statinbox" type="checkbox" name="system.skills.{{key}}.skill2" value="{{skill.skill2}}" {{checked skill.skill2}} data-dtype="Boolean"/>
        </div>
        <label class="statname rollable" id="rollable" for="system.skills.{{key}}.value"  data-roll="d20+@skills.{{key}}.value" data-label="{{skill.label}}">{{skill.label}}</label>
      </div>
      {{/each}}
    </div>

    <div> 
      <p class="darktrimmedfont skillfeaturetitle"> Features</p>
      {{> "systems/pokemonta3/templates/actor/parts/actor-features.hbs"}}
    </div>




      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography " data-group="primary" data-tab="description">
      <div class="gridrow30">
        <div class="PCsheet {{system.primaryclass}}back" id="honor"> Honor
         <input  class="Noboarder {{system.primaryclass}}back" name="system.honor.value" type="text" value="{{system.honor.value}}" placeholder="Honor"/>
        </div>

        {{#if (eq system.primaryclass "pok")}}   {{!-- If playing pokemon this appears --}}
          <select class="PCsheet typing {{system.primarytyping}}back" name="system.primarytyping">
            {{selectOptions optionObjtype selected=system.primarytyping localize=true}}
          </select>
          <select class="PCsheet typing {{system.secondarytyping}}back" name="system.secondarytyping">
            {{selectOptions optionObjtype selected=system.secondarytyping localize=true}}
          </select>      
        {{/if}}
      </div>  


      <p class="darktrimmedfont skillfeaturetitle"> Biography</p>
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/pokemonta3/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Pokemon Class Moves Tab --}}
    <div class="tab trainermoves flexcol" data-group="primary" data-tab="trainermoves">
      
      <div class="gridrow30-60"> {{!-- Pokemon Nature/Species Section--}}
          <select class="PCsheet typing pokClsfont" name="system.nature"> Nature 
            {{selectOptions optionObjnature selected=system.nature localize=true}}
          </select> 
          <div class="PCsheet pokClsfont" id="nature"> Species:
            <input  class="Noboarder {{system.primaryclass}}back" id="nature" name="system.species" type="text" value="{{system.species}}" placeholder="human"/>
          </div>
      </div>
     
      <div> {{!-- Pokemon Moves Section--}}
        <p class="darktrimmedfont skillfeaturetitle"> Moves</p>
        {{> "systems/pokemonta3/templates/actor/parts/actor-poke-moves.hbs"}}
      </div>
    </div>



    {{!-- Active Pokemon partnermon Tab --}}
    <div class="tab partnermon flexcol" data-group="primary" data-tab="partnermon">
      <p class="darktrimmedfont skillfeaturetitle"> Pokemon With Trainer</p>
      {{> "systems/pokemonta3/templates/actor/parts/actor-partnermon.hbs"}}
      <p class="darktrimmedfont skillfeaturetitle"> PC Box</p>
      {{editor system.PCbox target="system.PCbox" rollData=rollData button=true owner=owner editable=editable}}
    </div>

  </div>

  <div class="sidebar"> {{!-- Side Bar--}}

    <h1 class="{{system.primaryclass}}back PCsheet">  {{!-- Primary Class Selector --}}
      <select class="{{system.primaryclass}}back" name="system.primaryclass">
        {{selectOptions optionObj selected=system.primaryclass localize=true}}
      </select>
      <div class="gridrow">
        Level
      <input class="Noboarder {{system.primaryclass}}back" name="system.attributes.level.value" type="number" value="{{system.attributes.level.value}}" placeholder="1"/>  
      </div>
    </h1>

    {{!-- Trainer image --}}
    <img class="{{system.primaryclass}}back PCsheet" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="170"/>  

    {{!-- Trainer Name --}}
    <input class="PCsheet lighttrimmedfont" name="name" type="text" value="{{actor.name}}" placeholder="Trainer Name"/>

    {{!-- Trainer HP --}}
    <div class="PCsheet HPrimmedfont">
      HP
      <input class="HPrimmedfont" name="system.health.value" type="text" value="{{system.health.value}}"/>
      /
      <input class="HPrimmedfont" name="system.health.max" type="text" value="{{system.health.max}}"/>
    </div>
    {{!-- Trainer Stats --}}
    <div class="statbox {{system.primaryclass}}Clsfont">
      {{#each system.stats as |stat key|}}
      <div class="stats">
        <label class="statname rollable" id="rollable" for="system.stats.{{key}}.value"  data-roll="d20+@stats.{{key}}.mod" data-label="{{stat.label}}">{{stat.label}}</label>
        <input class="statinput" type="text" name="system.stats.{{key}}.value" value="{{stat.value}}" data-dtype="Number"/>
        <span class="stat-mod rollable" id="rollable" data-roll="d20+@stats.{{key}}.mod" data-label="{{stat.label}}">{{numberFormat stat.mod decimals=0 sign=true}}</span>
      </div>
      {{/each}}
    </div>

        {{!-- Other Classes --}}
    <input class="PCsheet {{system.primaryclass}}back" name="system.secondaryclass" type="text" value="{{system.secondaryclass}}" placeholder="Second Class"/>
    <input class="PCsheet {{system.primaryclass}}back" name="system.thirdclass" type="text" value="{{system.thirdclass}}" placeholder="Third Class"/>
    <input class="PCsheet {{system.primaryclass}}back" name="system.fourthclass" type="text" value="{{system.fourthclass}}" placeholder="fourth Class"/>    
        {{!-- Origin and Money --}}
    <input class="PCsheet {{system.primaryclass}}Clsfont origincredit" name="system.origin" type="text" value="{{system.origin}}" placeholder="Origin"/>         
    <input class="PCsheet {{system.primaryclass}}Clsfont origincredit" name="system.credits" type="text" value="{{system.credits}}" placeholder="$ Credits"/>      










  </div>




</form>

{{log system}}

