<form class="item {{cssClass}} pix185-250 pokeitembackground" autocomplete="off">

  <div class="sidebar item">
    <img class="PCsheet profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="PCsheet darktrimmedfont charname"><input class="Noboarder" id="darkinput" name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
      <div class="grid grid-2col">
        <div class="PCsheet darktrimmedfont resource gridrow80-20">
          <label class="resource-label">Quantity</label>
          <input type="text" name="system.quantity" id="darkinput" value="{{system.quantity}}" data-dtype="Number" />
        </div>
        <div class="PCsheet darktrimmedfont resource">
          <select class="darktrimmedfont" name="system.itemtype">
            {{selectOptions optionObjitem selected=system.itemtype localize=true}}
          </select>
        </div>
        {{#if (eq system.itemtype "pok")}}   {{!-- If item is pokeball this appears --}}
        <div class="PCsheet lighttrimmedfont item">
         <input class="Noboarder" type="text" name="system.catchbonus" id="lightinput" value="{{system.catchbonus}}" placeholder="Catch Bonus" data-dtype="Number"/>
        </div>
        {{/if}}
        {{#if (eq system.itemtype "med")}}   {{!-- If item is medical this appears --}}
        <div class="PCsheet lighttrimmedfont item">
         <input class="Noboarder" type="text" name="system.restorevalue" id="lightinput" value="{{system.restorevalue}}" placeholder="Restore Eff."/>
        </div>
        {{/if}}




      </div>
    </div>
  </div>

 <div class="PCsheet item description">
  {{!-- Description Tab --}}
  {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the
  rollData prop. --}}
  <p class="darktrimmedfont skillfeaturetitle"> Description</p>
  {{editor system.description class="item description" target="system.description" rollData=rollData button=true owner=owner
  editable=editable}}
 </div>
      

</form>

{{log system}}